#itt_imageContainer{
    position : relative;
}

#itt_img {
    max-width : 900px;
    height : auto;
}

#tagContainer {
}

#tagEntryDialog {
    display : none;
    position : absolute;
    background-color: rgba(1, 1, 1, 0.4);
}

.tagImage {
    opacity: 0.6;
    width : 20px;
    height : 20px;
}

.tagText{
    border : solid 2px rgba(0,0,0,0.5);
    border-radius : 5px;
    background : rgba(255,255,255,0.5);
    padding : 10%;
    text-align:center;
}

input[type = "button"] {
    -webkit-appearance : none;
    background : white;
    border : 1px solid black;   
}

input.tagTextInput {
    -webkit-appearance : none;
    background : none;
    border : none;   
}

#btn_close {
    font-weight: bold;
    background: rgba(1, 0, 0, 0.5);
    color: white;
    border-radius: 100px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-top: -5%;
    margin-left: -5%;
    position: absolute;
}

.visible{
    display : block;
}

.hidden{
    display : none;
}

.deleteImg{
    opacity:0.75;
    width : 24px;
    float:right;
}